.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #322A98, #2d193c);
    background-size: cover;
}

.current-user {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.125rem;
    color: white;
    font-weight: 600;
}

.form-container {
    background: rgb(28, 28, 59);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 24rem;
    padding: 1.5rem 2rem;
    padding-top: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}

.form-title {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input, .button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    box-sizing: border-box;
}

.input {
    background: #3b3b3b;
    color: white;
    border: 1px solid #525252;
}

.input:focus {
    border-color: #818cf8;
    box-shadow: 0 0 0 2px rgba(129, 140, 248, 0.5);
}

.button {
    background: #646dbe;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 1rem;
}

.button:hover {
    background: #a5b4fc;
}

.filter-container {
    text-align: center;
}

